rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /patients/{patientId} {
      allow read, write: if request.auth != null && request.auth.uid == patientId;
    }

    match /volunteers/{volunteerId} {
      allow read, write: if request.auth != null && request.auth.uid == volunteerId;
    }

    match /incidents/{incidentId} {
      // Bystander web (unauthenticated) can read for onSnapshot
      allow read: if true;
      // Volunteer co the update incident cua minh (mark complete)
      allow update: if request.auth != null &&
        resource.data.acceptedBy == request.auth.uid;
      // Chi Cloud Function moi create/delete
      allow create, delete: if false;
    }
  }
}
